// COLORS
$color-primary: #303F4B;
$color-highlight1: #67B1FF;
$color-highlight2: #7DB8EC; 

$color-gradient1: #6FF5DE;
$color-gradient2: #67B0FA;

$color-background: #FFFFFF;

$color-link: #90969B;
$color-link-hover: #303F4B;
$color-link-visited: #90969B;

// FONT
$google-font-url: "https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900";
$google-font-family: "'Lato', ";

// BREAKPOINTS
$br: 600px;